.home-bg{
    background-color: #1F1F1F;
}
.banner-section{
    background-image: url("../../../public/banner2.png");
    background-size: cover;
}
.overlay-content{
    width: 80%;
    max-width: 800px;
    margin-top: 15%;
}
.package{
    width: 85%;
    max-width: 450px;
}
.payment img{
    width: 90%;
    max-width: 300px;
}
.ad{
    width: 50%;
}
@media screen and (max-width: 452px) {
    .ad{
        width: 30%;
        height: 50%;
    }
}